@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body.background1{
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1.style-h1{
	text-align: center;
	font-weight: bolder;
    margin: 0;
    height: 50px;
    font-family: 'Montserrat', sans-serif;

}

.style-a{
	color: black;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
	padding-top:20px;
}
.style-button {
	border-radius: 20px;
	border: 1px solid  rgb(250, 122, 17);
	background-color:  rgb(250, 122, 17);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top:8px;
}

.style-button:active {
	transform: scale(0.95);
}

.style-button:focus {
	outline: none;
}

.style-button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.style-form {
	border:3px solid #00000033;
	border-bottom: 5px solid #00000033; 
	border-radius: 10px;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 80%;
	text-align: center;
	background: #969696d4;
}

.style-input {
	background-color: #eee;
	border-radius: 5px;
	border:2px solid #eee;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
.style-input:focus{
	outline: none;
}
.style-a:hover{
	text-decoration: none;
	color:black;
	cursor:pointer;
}
.style-a:active{
	text-decoration:none;
}
.container1 {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 10px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	min-height: 480px;
	margin-top:50px;
}
.form-container {
	position: absolute;
	top: 0;
	height: 80vh;
}

.log-in-container {
	left: 0;
	width: 100%;
	z-index: 2;
}
.log-in-container input{
	width:60%;
	text-align:left;

}
@media and screen(max-width:360px){
	.container1{
		display:inline-block;
	}
}
@media and screen(max-width:770px){
	.container1{
		width:100%;
		display: inline-block;
	}}